/* HEADER */
.app-header {
    background: #61994580;
    border-bottom: 1px solid #e5e7eb;
    position: relative;
    width: 100%;
}

/* CONTAINER */
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* NAV MENU */
.nav-menu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px;
}

/* ICONS */
.nav-actions {
    display: flex;
    gap: 15px;
}

.icon {
    font-size: 1.2rem;
    cursor: pointer;
}